*

!README.md
!install.py
!.gitignore
!.Xdefaults
!.xinitrc
!.zprofile
!.zshrc
!.vimrc


!.local/usr/*/*

!.config/nvim/*
!.config/autostart/*
!.config/dunst/dunstrc
!.config/htop/htoprc
!.config/polybar/config
!.config/rofi/config

!.xmonad/lib/Config.hs
!.xmonad/xmonad.hs
!.xmonad/xbm/*

!*/
